
<style type="text/css">
body{background:#fff;}
	.nav2{display:none;}

  .navbar-right #in, #up{display:none;}
	.steps-section_items{
  display: block;
  padding-top: 20px;  
}
.text-center-md{
  padding-top: 10px;
  text-align: center;
  clear: both;
}
.text-blue-v10{
  color: #1478ff;
}
.text-center{
  text-align: center;
}
.img-responsive{
  width: 242px;
  height: 242px;
}
.nav-item:hover{
  color: #6c5ce7;
}
.item-title{
  color: #1478ff;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 15px;
}
.item-info{
  padding: 0 25px;
  text-align: center;
}
.doctor__item{
  float: left;
  width: 250px;
  padding: 0 15px;
  text-align: center;
  margin: 0 auto;
  color: white;
}
.parallax{
  position:relative;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-image: url('../img/background1.jpg');
}
.parallax1{
  position:relative;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-image: url('../img/background.jpg');
}
.doctor__avatar{
  display: block;
  padding-top: 100%;
  background-position: 50%;
  border-radius: 50%;
  margin: auto;
  background-size: cover;
}
.doctor__list{
  margin: 0 auto;
}
.doctor__list h4{
  font-size: 18px;
  line-height: 25px;
}
.btn{
  width: 100%;
}
.button-CTA{
  height: 50px;
  margin-top: 15px;
  line-height: 45px;
  text-decoration: none;
  color: #fff;
  background-color: #fd7f00;
  border: 1px solid #fd7f00;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  border-radius: 10px;
  display: inline-block;
}
.button-CTA:hover{
  background-color: white;
  color: #fd7f00;
  text-decoration: none;
}
.special__list{
  text-align: center;
  justify-content: center;
}
.img-responsive{
  height: auto;
}
.section3{
  width: 70%;
  border-radius: 20px;
}
#disease p{
  font-weight: 700;
  color: black;
}
.img-responsive:hover{
  border: none;
}
.form_group{
  margin-bottom: 1rem;
  margin-top: 20px;
}
.question-asking-page__attachments {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.form-control{
  margin-bottom: 4px;
  border: 1px solid #cacaca;
  height:auto;
  padding: 10px 15px;
  resize: none;
}
form.form-asking-question .question-asking-page__attachments .question-asking-page__btn-upload {
  height: 80px;
  flex: 0 1 80px;
  font-size: 12px;
  padding: 10px 0;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  color: #248eff;
  border: 1px dashed #248eff;
}
i{
  display: block;
  font-size: 25px;
  margin-bottom: -5px;
}
.label-control{
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 6px;
}
select .form-control{
  border-radius: 10px;
  background-size: 14px 7px;
  padding: 0 30px 0 15px;
}
.button-standard{
  background-color: #248eff;
  border: 1px solid #248eff;
  color: #fff!important;
  border-radius: 10px;
  height: 38px;
  font-weight: 700;
  line-height: 38px;
  margin-top: 30px;
  margin-right: 10px;
  width: 120px;
}
.button-standard:hover{
  background-color: #0063cc;
}
@media (max-width: 767px){
  .container {
    max-width: 100%;
    padding-bottom: 20px;
    padding: 60px 0;
  }
  .doctor__list{
    margin-bottom: 30px;
    width: 100%;
    float: left;
    padding: 0 15px;
  }
  .doctor__item{
    float: left;
    width: 100%;
    padding-top: 20px;
  }
  .doctor__avatar{
    width: 250px;
    height: 250px;
    padding-top: 0;
    border-radius: 75%;
    display: block;
    background-position: 50%;
    margin: auto;
    background-size: cover;
  }
  .question_image{
    width: 75%;
    height: 75%%;
  }
  .parallax{
    background-position: left;
  }
  .parallax1{
    background-position: right;
  }
}
</style>
<div class="container" style="padding-top: 76px;">
		<div class="steps-section_items">
   <div class="row">
   	<div class="col-md-12 col-sm-12 col-12 text-center">
   		<div class="row">
   			<h2 class="text-center-md" style="color: #30336b;width: 100%;font-weight: 700;">Bạn có thắc mắc muốn hỏi chuyên gia?</h2>
						<h4 class="text-center-md" style="font-weight: 100;width:100%;margin-bottom: 20px;">Chưa bao giờ <strong class="text-blue-v10">dễ dàng, tiện lợi</strong> đến thế</h4>
   		</div>
					<div class="row">
		    <div class="col-md-4 col-sm-12 col-12 item">
		     <div class="text-center">	
		      <img class="img-responsive" src="../img/chon.png" alt="eDoctor">
		     </div>
		     <p class="item-title">1. Chọn và trả lời các mục</p>
		     <p class="item-info">Bạn nên <strong>chọn các mục</strong> hoặc <strong>trả lời</strong> các câu hỏi cần thiết trước.</p>
		    </div>
		    <div class="col-md-4 col-sm-12 col-12 item">
		     <div class="text-center">
		      <img class="img-responsive" src="../img/thacmac.png" alt="eDoctor">
		     </div>
		     <p class="item-title">2. Bày tỏ thắc mắc</p>
		     <p class="item-info">Hãy miêu tả đầy đủ và chính xác vấn đề của bạn để được tư vấn chính xác.</p>
		    </div>
		    <div class="col-md-4 col-sm-12 col-12 item">
		     <div class="text-center">
		      <img class="img-responsive" src="../img/loikhuyen.png" alt="eDoctor">
		     </div>
		     <p class="item-title">3. Lời khuyên từ Bác Sĩ</p>
		     <p class="item-info">Các Bác Sĩ và Chuyên Gia sẽ đưa ra giải đáp &amp; lời khuyên chính xác nhất đến bạn.</p>
		    </div>
		   </div>
   	</div>
   </div>
		</div>
	</div>
	<div class="container-fluid parallax" id="doctor" style=";padding-top: 50px;background-color: #F4F9FF;" data-parallax="scroll" data-image-src="https://i.pinimg.com/originals/cb/c2/2c/cbc22ca5a3d7568a742262639a9f6b3f.jpg">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-12">
					<div class="row">
			   <h2 class="text-center-md" style="width:100%;color: #f0932b;font-weight: 700;">Đội ngũ Y Bác sĩ nhiệt tình, tâm huyết</h2>
						<h4 class="text-center-md" style="font-weight: 100;width:100%; margin-bottom: 20px;color: white;">Luôn <strong class="text-blue-v10">sẵn sàng</strong> giúp đỡ và hỗ trợ bạn</h4>
					</div>
					<div class="row">
			   <div class="doctor__list" style="padding-left: 20px;">
			    <div class="doctor__item text-center">
			     <span class="doctor__avatar" data-background="../img/BuiDangKhoa.png" style="background-image: url(&quot;../img/BuiDangKhoa.png&quot;);"></span>
			     <h4>Bác sĩ<br>Bùi Đăng Khoa</h4>
			     <p>Chuyên khoa Nội</p>
			    </div>
				   <div class="doctor__item text-center">
				    <span class="doctor__avatar" data-background="../img/NguyenMyHuong.png" style="background-image: url(&quot;../img/NguyenMyHuong.png&quot;);"></span>
				    <h4>Bác sĩ<br>Nguyễn Mỹ Hương</h4>
				    <p>Chuyên khoa tâm thần</p>
				   </div>
				   <div class="doctor__item text-center">
				    <span class="doctor__avatar" data-background="../img/NguyenThiPhuongMai.jpg" style="background-image: url(&quot;../img/NguyenThiPhuongMai.jpg&quot;);"></span>
				    <h4>Bác sĩ<br>Nguyễn Thị Phương Mai</h4>
				    <p>Chuyên khoa Y học cổ truyền</p>
				   </div>
					  <div class="doctor__item text-center">
					   <span class="doctor__avatar" data-background="../img/PhamHoangDuong.jpeg" style="background-image: url(&quot;../img/PhamHoangDuong.jpeg&quot;);"></span>
					   <h4>Bác sĩ<br>Phạm Hoàng Dương</h4>
					   <p>Chuyên khoa Ung bướu</p>
					  </div>
					  <div class="doctor__item text-center">
					   <span class="doctor__avatar" data-background="/../img/VoHaQuangVinh.png" style="background-image: url(&quot;../img/VoHaQuangVinh.png&quot;);"></span>
					   <h4>Bác sĩ<br>Võ Hà Quang Vinh</h4>
					   <p>Chuyên khoa Thần kinh</p>
					  </div>
			   </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container" id="dinhduong" style=";padding-top: 20px;padding-bottom: 30px;">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-12">
				<div class="row">	
		   <h2 class="text-center-md" style="width:100%;color: #6ab04c;font-weight: 700;">Chế độ dinh dưỡng dành cho bà bầu</h2>
					<h4 class="text-center-md" style="font-weight: 100;width:100%;margin-bottom: 30px;">Dinh dưỡng <strong class="text-blue-v10">cần thiết</strong> cho mẹ và bé</h4>
				</div>
				<div class="row">
					<div class="col-md-4 col-sm-12 col-12">
						<div class="text-center" style="margin-left: 30px;">
							<img src="../img/milk.png" width="80%">
						</div>
						<p class="item-title" style="padding-top: 15px;">1. Bữa phụ</p>
					</div>
					<div class="col-md-4 col-sm-12 col-12">
						<div class="text-center" style="margin-left: 30px;">
							<img src="../img/middle.gif" width="80%">
						</div>
						<p class="item-title" style="padding-top: 15px;">2. Đa dạng thực phẩm</p>
					</div>
					<div class="col-md-4 col-sm-12 col-12">
						<div class="text-center" style="margin-left: 30px;">
							<img src="../img/meal.jpg" width="80%">
						</div>
						<p class="item-title" style="padding-top: 15px;">3. Bữa chính</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid parallax1" id="note">
		<div class="row special__list">
			<div class="col-md-12 col-sm-12 col-12">
				<div class="row">
		   <h2 class="text-center-md" style="width: 100%;color: #6ab04c;color: #4834d4; font-weight: 700;">Bày tỏ vấn đề sức khỏe của bạn</h2>
					<h4 class="text-center-md" style="font-weight: 100;width: 100%; margin-bottom: 30px;">Và nhận lời khuyên từ <strong class="text-blue-v10">các chuyên gia y tế</strong></h4>
				</div>
				<div class="row" id="disease">
					<div class="col-md-3 col-sm-6 col-6" id="choosen">
						<img class="section3" src="../img/timmach.png">
						<p style="font-size: 18px;">Tim mạch</p>
					</div>
					<div class="col-md-3 col-sm-6 col-6">
						<img class="section3" src="../img/hohap.png">
						<p style="font-size: 18px;">Hô hấp</p>
					</div>
					<div class="col-md-3 col-sm-6 col-6">
						<img class="section3" src="../img/phukhoa.png">
						<p style="font-size: 18px;">Phụ khoa</p>
					</div>
					<div class="col-md-3 col-sm-6 col-6">
						<img class="section3" src="../img/than.png">
						<p style="font-size: 18px;">Thận</p>
					</div>
					<div class="col-md-3 col-sm-6 col-6">
						<img class="section3" src="../img/gan.png">
						<p style="font-size: 18px;">Gan</p>
					</div>
					<div class="col-md-3 col-sm-6 col-6">
						<img class="section3" src="../img/tieuhoa.png">
						<p style="font-size: 18px;">Đường tiêu hoá</p>
					</div>
					<div class="col-md-3 col-sm-6 col-6">
						<img class="section3" src="../img/nhakhoa.png">
						<p style="font-size: 18px;">Nha khoa</p>
					</div>
					<div class="col-md-3 col-sm-6 col-6">
						<img class="section3" src="../img/benhkhac.png">
						<p style="font-size: 18px;">Các bệnh khác</p>
					</div>
				</div>
				<h2 class="text-center-md" style="color: #fd7e14; padding: 20px 0;font-weight: bold;text-transform: uppercase;">Đặt câu hỏi cho bác sĩ</h2>
				<div class="row" style="">
					<div class="col-md-6 col-xl-6 col-sm-12">
						<div class="text-center">
							<img class="question_image" src="../img/lienhe.png" width="400px" height="400px">
						</div>
					</div>
					<div class="col-md-6 col-xl-6 col-sm-12" style=" margin: 0 auto;width: 100%;">
						<form class="form-horizontal form-asking-question question-asking-page__form-asking-question" id="form_ask_question" method="POST" novalidate="novalidate" style="padding: 10px;box-shadow: 0 3px 15px rgba(0,0,150,150); margin-top: 40px;">
			    <input type="hidden" name="_token" value="sCpxcniUOdIcv7dmCCNv8zAIZWpc7cUNHUAs5bbW">
			    <div class="form-group">
			     <textarea class="form-control" placeholder="Nhập nội dung câu hỏi" id="input-question-content" name="questionContent" rows="4"></textarea>
    			</div>
   			 <div class="form-group">
        <div class="question-asking-page__attachments" id="question-asking-page__attachments">
       	 <input type="hidden" id="question_attachment_ids">
   					</div>
   				</div>
    			<div class="row">
        <div class="col-xl-6 col-sm-12"">
         <div class="form-group">
          <label class="label-control">Chuyên mục</label>
          <select class="form-control">
           <option>Tim mạch</option>
           <option>Hô hấp</option>
           <option>Phụ khoa</option>
           <option>Thận</option>
           <option>Gan</option>
           <option>Đường tiêu hóa</option>
           <option>Nha khoa</option>
           <option>Các bệnh khác</option>
           <option>Dinh dưỡng cho bà bầu</option>
           <option>Vấn đề khác</option>
          </select>
         </div>
        </div>
        <div class="col-xl-6 col-sm-12 text-xl-right">
         <div class="form-group">
          <button type="submit" class="button button-standard" onclick="alert('Câu hỏi của bạn đã được gửi! Bạn sẽ nhận được câu trả lời trong trang cá nhân của mình')"><a href="/gigs/advice">Gửi câu hỏi</a></button>
         </div>
        </div>
   			 </div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>