<style type="text/css">
  .nav2{display:none;}
  
  .navbar-right #in, #up{display:none;}
a{
    color: black;
}
  .seemore>li{
  margin-right: 0px !important;
  padding-right: 0px !important;
  list-style-type: square;
  color: #e46a80;
  list-style-position: outside;
}
.youknow>li{
  margin-right: 0px !important;
  padding-right: 0px !important;
  color: #e46a80;
  list-style-position: outside;
}
a:hover{
  text-decoration: none;
  color: #e46a80;
}
.a_know{
  color: white;
  font-size: 16px;
}
.a_know:hover{
  color: pink;
}
i {
      font-size: 20px;
      margin-bottom: 0px;
      color: #e46a80;
}
.youknow{
  padding-left: 30px;
}
.seemore{
  padding-left: 30px;
}
</style>
<div class="bg-light text-dark p-3" style="margin-top:50px;">
  <div class="container">
    <div style="font-weight: bold;"><a href="/gigs/news"><span>Tin tức </span></a><i class="fas fa-angle-right px-1"></i><a href="#"><span> Mang thai </span></div>
  </div>
</div>
<div class="mt-2">
  <div class="container">
    <div class="rounded text-white p-4 bg-grey" style="background-color: #9aa2b5"><h2>MANG THAI</h2></div>
  </div>
</div>
    <div class="container my-3">
      <div class="row">
        <div class="col-sm-12 col-md-8">
          <div class=" bg-white text-dark p-2 mt-1">
            <div class="row px-4 pt-2">
              <div class="infoshow pt-2 p-2">
                  <a href="/gigs/details" class="a_infoshow1"><h4 style="color: #d25a6f">8 dấu hiệu cho thấy các mẹ chuẩn bị lâm bồn đến nơi rồi và những việc cấp thiết cần làm ngay</h4></a>
                  <div class="row">
                    <div class="col"><img src="../Img/img-div1.jpg" alt=""  width="700px" class="img-fluid rounded"><br></div>
                    <div class="col">
                      <span style="font-size: 18px;color: gray" class="pt-2">Để giúp các mẹ sắp sinh nhận ra các dấu hiệu chuyển dạ sớm, các nhà nghiên cứu đã chuẩn bị một danh sách 8 dấu hiệu mà các mẹ nên chú ý nhé</span><br><br><br>
                      <a href="/gigs/details"><button class="m-2 btn btn-outline-danger my-2 my-sm-0 mr-sm-2 btn-pink float-right" type="submit" style="border-radius: 20px;border:3px solid #e46a80;color: #e46a80"><div>Xem chi tiết</div></button></a>
                    </div>
                  </div>
                  
                  
                  <hr>
                </div>
                <div class="infoshow">
                  <a href="#" class="a_infoshow2"><h4 style="color: #d25a6f">Những lưu ý trước khi đi đẻ mà các sản phụ cần nắm vững trong lòng bàn tay</h4></a>
                  <div class="row">

                    <div class="col"><img src="../Img/img-div2.jpg" alt="" width="700px" class="img-fluid rounded"></div>
                    <div class="col"><br><span style="font-size: 18px;color: gray" class="pt-2">Nên ăn gì trước khi lên bàn đẻ? Có được chọn sinh thường hay sinh mổ không? Tất cả những điều này các mẹ bầu đều nên biết rõ trước khi lâm bồn.</span><br><br><br>
                    <a href="/gigs/details">
                    <button class="m-2 btn btn-outline-danger my-2 my-sm-0 mr-sm-2 btn-pink float-right" type="submit" style="border-radius: 20px;border:3px solid #e46a80;color: #e46a80"><div>Xem chi tiết</div></button>
                    </a>
                    </div>
                  </div>
                  
                  
                  
                  <hr>
                </div>
                <div class="infoshow">

                  <a href="#" class="a_infoshow3"><h4 style="color: #d25a6f">Những loại vắc-xin cần tiêm phòng trước khi mang thai để khỏe cả con lẫn mẹ</h4></a>
                  <div class="row">
                    <div class="col"><img src="../Img/img-div3.jpg" alt=""  width="700px" class="img-fluid rounded"></div>
                    <div class="col"><br><span style="font-size: 18px;color: gray" class="pt-2">Việc tiêm phòng trước khi chuẩn bị có em bé cũng vô cùng quan trọng mà các mẹ nên nhớ.</span><br><br><br>
                    <a href="/gigs/details">
                    <button class="m-2 btn btn-outline-danger my-2 my-sm-0 mr-sm-2 btn-pink float-right" type="submit" style="border-radius: 20px;border:3px solid #e46a80;color: #e46a80"><div>Xem chi tiết</div></button></a>
                    </div>
                  </div>
                  <hr>
                  
                </div>
            </div></div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="rounded" style="background-color: dimgray">
                <div class="rounded p-3 text-dark bg-white"><h5 class="p-2" style="color: #e46a80">BẠN CẦN BIẾT</h5></div>
                <div>
                  <ul class="youknow">
                  <li><div class="p-2"><a href="" class="a_know">Bảng theo dõi trọng lượng và chiều dài thai nhi theo tuần </a></div></li>
                  <li><div class="p-2"><a href="" class="a_know">Các giai đoạn phát triển của thai nhi </a></div></li>
                  <li><div class="p-2"><a href="" class="a_know">14 triệu chứng khó chịu thường gặp trong thai kỳ và cách xử lý </a></div></li>
                  <li><div class="p-2"><a href="" class="a_know">Các kiểu kết hợp thuốc vô cùng nguy hiểm </a></div></li>
                </ul>
                </div>
              </div>
              <div class="rounded bg-white mt-2">
                <h4 style="background-color: #e46a80" class="p-3 rounded text-white">Tin đọc nhiều nhất</h4>
                <div class="p-2">
                  <ul class="seemore">
                  <li><a href="#"><div class="pb-2">Phòng khám thai uy tín ở Hà Nội, được ngàn mẹ bầu tin tưởng</div></a></li>
                  <li><a href="#"><div class="pb-2">Bác sĩ sản khoa mách các mẹ bí quyết giảm đau khi chuyển dạ</div></a></li>
                  <li><a href="#"><div class="pb-2">Đi đẻ không đọc mẹ sẽ tiếc</div></a></li>
                  <li><a href="#"><div class="pb-2">Bà đẻ, được ăn món này thì tuyệt</div></a></li>
                  <li><a href="#"><div class="pb-2">Đẫm nước mắt hành trình vừa cho con bú vừa khóc vì tắc tia sữa</div></a></li>
                  <li><a href="#"><div class="pb-2">Những cảnh báo, mẹ dễ mất con trong thai kỳ</div></a></li>
                  <li><a href="#"><div class="pb-2">Học tập mẹ Tây cách giúp con thông minh ngay từ trong bụng</div></a></li></ul>
                </div>
        </div>
          </div>
        </div>
      </div>
      <div class="">
        <div class="">
          
          <div class="container"><div class="pt-4 pb-2"><h3 class="pb-2" style="border-bottom: 5px solid #e46a80">Bài viết cùng chủ đề</h3></div>
          <div class="row pt-1">
            <div class="col-4">
              <img src="../Img/imgsection2.jpg" width="350px" height="200px">
              <div class=" text-justify"><h5 class="my-2 py-2"><a href="#">Những trạng thái trầm cảm sau sinh và cách xử trí</a></h5></div></div>
              <div class="col-4">
                <img src="../Img/imgsection3.jpg" width="350px" height="200px">
                <div class=" text-justify"><h5 class="my-2 py-2"><a href="#">Những lưu ý trước khi đi đẻ mà các sản phụ cần nắm vững trong lòng bàn tay</a></h5></div>
        </div>
        <div class="col-4">
          <img src="../Img/imgsection1.jpg" width="350px" height="200px">
          <div class=" text-justify"><h5 class="my-2 py-2"><a href="#">Ăn cho hai người - thói quen phản khoa học của mẹ bầu gây hại cả mẹ lẫn con</a></h5></div>
        </div>
      </div>
    </div></div>
    </div>