
<style type="text/css">

  .navbar-right #in, #up{display:none;}
  .nav2{display:none;}
  .seemore>li{
  margin-right: 0px !important;
  padding-right: 0px !important;
  list-style-type: square;
  color: #e46a80;
  list-style-position: outside;
}
.youknow>li{
  margin-right: 0px !important;
  padding-right: 0px !important;
  color: #e46a80;
  list-style-position: outside;
}
a:hover{
  text-decoration: none;
  color: #e46a80;
}
.a_know{
  color: white;
  font-size: 16px;
}
.a_know:hover{
  color: pink;
}
i {
      font-size: 20px;
      margin-bottom: 0px;
      color: #e46a80;
}
a{
    color: black;
}
a:hover{
  text-decoration: none;
  color: #e46a80;
}
.youknow{
  padding-left: 30px;
}
.seemore{
  padding-left: 30px;
}
</style>
<div class="bg-light text-dark p-3" style="margin-top:50px;">
  <div class="container">
    <div style="font-weight: bold;"><a href="Tintuc.html"><span>Tin tức </span></a><i class="fas fa-angle-right px-1"></i><a href="/gigs/choose"><span> Mang thai </span></a><i class="fas fa-angle-right px-1"></i><a href="#"><span>8 dấu hiệu cho thấy các mẹ chuẩn bị lâm bồn đến nơi rồi và những việc cấp thiết cần làm ngay</span></a></div>
  </div>
</div>
    <div class="container my-2">
      <div class="row">
        <div class="col-sm-12 col-md-8">
          <div class="bg-white rounded">
            <div class="text-justify p-5">
            <a href="/gigs/choose"><button type="button" class="btn btn-pink btn-sm btn-outline-success mb-2">MANG THAI</button></a>
            <h3>8 việc mẹ cần làm khi biết tin mang thai bé yêu</h3>
            
             <div>    
              <span class="option1 mx-2">
                <i class="far fa-heart p-2"></i><span class="yeuthich0">Yêu thích (10)</span><span class="yeuthich1">Yêu thích (10)+1</span></span>
              <span class="option2 mx-2">
                <i class="far fa-thumbs-up p-2"></i><span class="like0">Like (12)</span></span><span class="like1">Like (12)+1</span>
                <span class="mx-2"><i class="fas fa-eye p-2"></i>Lượt xem: 20</span></div>             

            <!--<div class="my-2"><small>NGÀY 03 THÁNG 09, 2017 | 15:03 </small></div>-->
            <b>Biết tin mang thai bé yêu, bất kì người mẹ nào cũng vui mừng, xen lẫn lo lắng, hồi hộp và đôi khi lúng túng đến mức không biết phải làm gì và chuẩn bị gì cho thai kỳ sắp tới.</b><br>

            Làm mẹ là một thiên chức cao quý đối với bất kì người phụ nữ nào, trải qua một quá trình “mang nặng đẻ đau”, chị em mới thấm thía hết nỗi cực nhọc, vất vả của người làm mẹ. <br><br>

            Cho nên, để quá trình này diễn ra suông sẻ, bé yêu trong bụng được phát triển toàn diện và khoẻ mạnh, các mẹ cần thực hiện những việc làm cần thiết sau đây ở những tháng đầu thai kỳ. <br><br>
 
            Khi mang thai việc đầu tiên là cần thăm khám bác sĩ để biết tình trạng sức khỏe của bé và chế độ dinh dưỡng của mẹ<br>
            <img src="../Img/8_1.jpg" class="img-fluid p-2">
            <h5>1. Gặp bác sĩ càng sớm càng tốt:</h5>
            Việc sử dụng que thử thai tại nhà có thể rất chính xác, tuy nhiên các mẹ cần đến gặp bác sĩ càng sớm càng tốt để được siêu âm cẩn thận và làm xét nghiệm cần thiết. Tuỳ theo điều kiện của gia đình, các mẹ nên đăng kí dịch vụ theo dõi thai kỳ với một bác sĩ sản khoa cố định. Sau đó, thảo luận kĩ càng với bác sĩ về tình trạng sức khoẻ của bản thân và những tiền sử bệnh về di truyền của gia đình để có hướng tư vấn phù hợp. <br>

            <h5>2. Ghi nhớ lại ngày kinh cuối:</h5>
            Khi biết tin mang thai chính xác từ bác sĩ, các mẹ cố gắng nhớ và ghi chép cẩn thận ngày kinh cuối của mình. Đây là điều hết sức cần thiết để giúp bác sĩ xác định chính xác tuổi của thai nhi và đưa ra ngày dự sinh chính xác.

            <h5>3. Nhưng sử dụng bia rượu, thuốc lá:</h5>
            Bia rượu, thuốc lá là những chất kích thích cực kì nguy hại đến sức khoẻ. Do đó, khi biết tin mình mang thai, các mẹ nên dừng ngay việc hút thuốc lá hay sử dụng bia rượu trong đời sống hàng ngày. Điều này sẽ giúp các mẹ tránh được những ảnh hưởng tiêu cực đến sức khoẻ của thai nhi, giúp các mẹ có một thai kì an toàn và bé yêu được sinh ra một cách khoẻ mạnh, an toàn.

            <h5>4. Giảm hàm lượng caffeine trong khẩu phần ăn hàng ngày:</h5>
            Theo khuyến cáo của bác sĩ thì mẹ bầu không nên dùng hơn 200mg caffeine mỗi ngày (tương đương với 2 tách cà phê). Đối với mẹ bầu là người nghiện uống cà phê hay có thói quen dùng nhiều caffeine thì nên tìm cách dừng lại. Do đó, tốt nhất trong suốt thai kỳ, các mẹ nên hạn chế dùng các loại thực phẩm, đồ uống chứa thành phần caffeine. <br>

            <h5>6. Kiêng một số loại thực phẩm:</h5>
            Khi mang thai, tâm lý nhiều mẹ bầu có xu hướng ăn nhiều loại thực phẩm khác nhau để bổ sung chất dinh dưỡng cho cơ thể. Nhưng không phải loại thực phẩm nào cũng tốt cho thai kỳ, cần tuyệt đối tránh xa các loại thực phẩm tươi sống hoặc chín tái để ngăn chặn tác động từ các loại vi khuẩn, vi trùng có hại xâm nhập vào bên trong làm ảnh hưởng đến sức khoẻ của mẹ và bé.

            <h5>5. Bổ sung nhiều vitamin D và axit folic:</h5>
            Vitamin D và Axit folic là những dưỡng chất thiết yếu và cần thiết cho sự phát triển hệ thống thần kinh của thai nhi trong những tháng đầu thai kỳ. Trong một số trường hợp, bác sĩ còn đưa ra lời khuyên cho các mẹ là khi muốn mang thai cần dùng nhiều axit folic từ trước khi mang thai từ 2-3 tháng.

            <h5>7. Kiểm tra các loại thuốc đang dùng:</h5>
            Các mẹ nên kiểm tra và khai báo với bác sĩ về các loại thuốc mình đang dùng xem có phù hợp với thể trạng của người mang thai và cần thiết thay đổi thuốc hay phương pháp điều trị khác để tránh ảnh hưởng đến sự phát triển của thai nhi.

            <h5>8. Nghỉ ngơi và vận động hợp lý:</h5>
            Đầu thai kỳ, một số mẹ có thể xảy ra tình trạng ốm nghén và mệt mõi thường xuyên là điều không thể tránh khỏi. Do đó, các mẹ cần sắp xếp thời gian nghỉ ngơi hợp lý cho bản thân và vận động với những bài tập thể thể dục chuyên biệt, vừa sức để nâng cao sức khoẻ bản thân, giảm bớt tình trạng nghén và giúp việc sinh nở diễn ra dễ dàng. <br>

            Với list những việc nên làm trong những tháng đầu thai kỳ ở trên, hi vọng các mẹ sẽ có sự chuẩn bị chu đáo và có một thai kỳ trọn vẹn, khoẻ mạnh và giúp bé yêu được chào đời khoẻ mạnh và trọn vẹn.</div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="rounded" style="background-color: dimgray">
                <div class="rounded p-3 text-dark bg-white"><h5 class="p-2" style="color: #e46a80">BẠN CẦN BIẾT</h5></div>
                <div>
                  <ul class="youknow">
                  <li><div class="p-2"><a href="" class="a_know">Bảng theo dõi trọng lượng và chiều dài thai nhi theo tuần </a></div></li>
                  <li><div class="p-2"><a href="" class="a_know">Các giai đoạn phát triển của thai nhi </a></div></li>
                  <li><div class="p-2"><a href="" class="a_know">14 triệu chứng khó chịu thường gặp trong thai kỳ và cách xử lý </a></div></li>
                  <li><div class="p-2"><a href="" class="a_know">Các kiểu kết hợp thuốc vô cùng nguy hiểm </a></div></li>
                </ul>
                </div>
              </div>
              <div class="rounded bg-white mt-2">
                <h4 style="background-color: #e46a80" class="p-3 rounded text-white">Tin đọc nhiều nhất</h4>
                <div class="p-2">
                  <ul class="seemore">
                  <li><a href="#"><div class="pb-2">Phòng khám thai uy tín ở Hà Nội, được ngàn mẹ bầu tin tưởng</div></a></li>
                  <li><a href="#"><div class="pb-2">Bác sĩ sản khoa mách các mẹ bí quyết giảm đau khi chuyển dạ</div></a></li>
                  <li><a href="#"><div class="pb-2">Đi đẻ không đọc mẹ sẽ tiếc</div></a></li>
                  <li><a href="#"><div class="pb-2">Bà đẻ, được ăn món này thì tuyệt</div></a></li>
                  <li><a href="#"><div class="pb-2">Đẫm nước mắt hành trình vừa cho con bú vừa khóc vì tắc tia sữa</div></a></li>
                  <li><a href="#"><div class="pb-2">Những cảnh báo, mẹ dễ mất con trong thai kỳ</div></a></li>
                  <li><a href="#"><div class="pb-2">Học tập mẹ Tây cách giúp con thông minh ngay từ trong bụng</div></a></li></ul>
                </div>
        </div>
      </div>
    </div></div>
<div class="">
        <div class="">
          
          <div class="container"><div class="pt-4 pb-2"><h3 class="pb-2" style="border-bottom: 5px solid #e46a80">Bài viết cùng chủ đề</h3></div>
          <div class="row pt-1 mb-2">
            <div class="col-4">
              <div class=""><img src="../Img/imgsection2.jpg" width="350px" height="200px">
              <h5 class="py-2"><a href="#">Những trạng thái trầm cảm sau sinh và cách xử trí</a></h5></div></div>
              <div class="col-4">
                <img src="../Img/imgsection3.jpg" width="350px" height="200px">
                <h5 class="my-2 py-2"><a href="#">Những lưu ý trước khi đi đẻ mà các sản phụ cần nắm vững trong lòng bàn tay</a></h5>
        </div>
        <div class="col-4">
          <img src="../Img/imgsection1.jpg" width="350px" height="200px">
          <h5 class="my-2 py-2"><a href="#">Ăn cho hai người - thói quen phản khoa học của mẹ bầu gây hại cả mẹ lẫn con</a></h5>
        </div>
      </div>
    </div></div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>  
    
    <script>
  $(function() {
  $('.yeuthich0').show();
  $('.yeuthich1').hide();
  $('.like0').show();
  $('.like1').hide();
  $('.option1').click(function(event) {
    /* Act on the event */
    $('.fa-heart').toggleClass('far')
    $('.fa-heart').toggleClass('fas');
    $('.yeuthich1').toggle();
    $('.yeuthich0').toggle();

  });
  $('.option2').click(function(event) {
    /* Act on the event */
    $('.fa-thumbs-up').toggleClass('far')
    $('.fa-thumbs-up').toggleClass('fas');
    $('.like1').toggle();
    $('.like0').toggle();
  });
});
</script>