<style type="text/css">

  .navbar-right #in, #up{display:none;}
  #contact{display:none;}
</style>
<section id="search" class="search-wrap">
    <h1>Bài viết theo chủ đề</h1>
    <form action="/gigs/search" class="search-form">
      	<i class="fas fa-search"></i>
     	<select class="form-ctrl" name="term">
           <option>Chuẩn bị mang thai</option>
           <option>Mang thai</option>
           <option>Chăm con</option>
           <option>Tiêm ngừa</option>
           <option>Tán gẫu</option>
           <option>Cuộc sống</option>
           <option>Mẹo vặt</option>
           <option>Thời trang - Làm đẹp</option>
           <option>Các vấn đề khác</option>
        </select>
      	<input type="submit" value="Tìm kiếm" style="transition: all 1.0s ease;">
    </form>
</section>