<style type="text/css">
  .nav2{display:none;}
  .masthead h1{
    font-size:6vw;
  }
  .masthead button{
    font-size:6vw;
  }
  .masthead{
    background: url('../img/pregnant8.jpg') no-repeat center top fixed / cover;
    -webkit-transition: all 1.0s ease;
    -moz-transition: all 1.0s ease;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    color: #fd79a8;
  }
  .masthead .btn{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border-radius: 60px;
    width: 200px;
    height: 60px;
    font-size: 24px;
    font-weight: bold;
  }
  .masthead a:hover{
    text-decoration: none;
  }
</style>
<div class="masthead">
    <div class="center">
      <h1 class="text-uppercase text-white-150 font-weight-bold mb-0" style="text-shadow: 5px 5px 10px black">Chào mừng đến với mommy</h1>
      <br>
        <a href="/gigs/signup"><button class="btn js-scroll-trigger align-items-center btn-pink btn-default btn-pink btn-outline-success" style="color:#fd79a8;border:">Bắt đầu</button></a>
    </div>
  </div>
</div>